body {
    display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #ECEFFC;
}
.navbar-brand img {
    height: 50px;
    width: 50px;
}
.cta-button {
    margin-left: 20px;
}
.main-banner {
    background-color: #000000;
    color: rgb(81, 122, 160);
}
.main-banner img {
    width: 100%;
    height: 10em;
    align-content: center ;
    align-items: center;
}
.bg-dark {
    background-color: #000000 !important;
}
.text-primary {
    color: #007bff !important;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

